PORT=3000
DB_HOST=localhost
DB_PORT=5432
DB_NAME=peliculas_db
DB_USER=ironhack
DB_PASSWORD=ironhack
JWT_SECRET=mi-secreto-jwt-muy-largo-2024
JWT_EXPIRES_IN=24h
JWT_REFRESH_SECRET=otro-secreto-diferente-para-refresh-2024
